*{
    font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
}


body{
    color:red;
}


header {
    border: 0px solid black;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

li{
    height: 100px;
    width: 100px;
    display: inline;
    padding: 50px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    justify-content: space-evenly;
}

.button {
    text-decoration:underline;
    font-size: 2rem;
    border: solid black;
    background-color: black;
    
}


#brand-title {
    color: white;
    font-size: 35px;
}


#being{
    display: block;
    width: 100%;
    border: 5px solid black;
    
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article{
    background-color: white;
}

h2{
    text-align: center;
    color:red;
    border: 3px solid black;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom right,black,black);
    width: 60%;
    margin: 150px auto 30px;
   
}

#cymbals{
    object-position: center;
    display: block;
    position: relative;
    top: 35px;
    left: 560px;
}

.text{
    text-align: center;
    font-size: 30px;
}

#text_border{
    border-bottom:  3px solid rgb(163, 163, 163);
    padding-right: 50px;
    padding-left: 50px;
    width: 60%;
    margin: 5px auto 3px;
}

footer{
    background-color: black;
    padding: 50px;
    color: white;
    flex-direction: row
}

.instagram {
    
    align-content: center;
}

.container {
    width: 200vh;
    max-height: 50%;
    
}

a{
    color: red

}

a:hover{
    color:white
}